#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius:  20px;
  width: 150px; 
  height: 250px;
  border: 2px solid black;
  padding: 10px;
}

.fire{
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
    padding: 2px;
    
    background-color: linear-gradient(to right, red, orange);
  
  
    }
   


.left {
  display: flex;
  align-self: flex-start;

  font-size: 30px;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
}
.right {
  display: flex;
  align-self: flex-end;
  font-size: 30px;
}


.card:nth-child(1) {
  background: linear-gradient(135deg, #fff5f5 0%, #feb2b2 100%);
  border-color: #c53030;
}


.card:nth-child(2) {
  background: linear-gradient(135deg, #ebf8ff 0%, #90cdf4 100%);
  border-color: #2b6cb0;
}


.card:nth-child(3) {
  background: linear-gradient(135deg, #f0fff4 0%, #9ae6b4 100%);
  border-color: #2f855a;
}