html{
  box-sizing: border-box;
  margin: 0;
}


#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 200px 0 ;

}

body {
  /* A침ado madera oscura para mejor visualizacion */
  background-image: url('https://www.transparenttextures.com/patterns/dark-wood.png');
  background-color: #2c1b10; 
  
 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius:  20px;
  width: 150px; 
  height: 250px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)  ;
  transform-origin: 0% 50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative; 
  overflow: hidden;   
  background: none;  
  filter: grayscale(0%) brightness(1);
}


 



.fire{
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
    padding: 2px;
    
     
    }
   


.left {
  display: flex;
  align-self: flex-start;

  font-size: 30px;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 30px;
}
.right {
  display: flex;
  align-self: flex-end;
  font-size: 30px;
}


.card:nth-child(1) {
  background: linear-gradient(135deg, #fff5f5 0%, #feb2b2 100%);
  border-color: #c53030;
 background: url('left.jpg') center/cover no-repeat;
 

}


.card:nth-child(2) {
  background: linear-gradient(135deg, #ebf8ff 0%, #90cdf4 100%);
  border-color: #2b6cb0;
  background: url('center.jpg') center/cover no-repeat;
}


.card:nth-child(3) {
  background: linear-gradient(135deg, #f0fff4 0%, #9ae6b4 100%);
  border-color: #2f855a;
  background: url('rigth.jpg') center/cover no-repeat;
}

.card:hover {
  transform: translateY(-15px) rotateX(10deg); 
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6); /* Pongo una sombra mas profunda al hacer hover */
  cursor: pointer;
}
.card:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
  
}

.card p{
  font-size: 20px;
  display: flex;
  justify-content: center;
  
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
/* Uso las pseudo classes para hacer las cartas interactivas*/
.card::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-size: cover;
  background-position: center;
 

  filter: grayscale(80%) brightness(0.9); 
  transition: filter 0.9s ease;
}


.card:hover::before {
  filter: grayscale(0%) brightness(1.2) 
}

.card:nth-child(1)::before { background-image: url('left.jpg'); }
.card:nth-child(2)::before { background-image: url('center.jpg'); }
.card:nth-child(3)::before { background-image: url('rigth.jpg'); }


.card:active::before {
  filter: grayscale(0%) brightness(1.5) contrast(1.2); /* A침ado una Explosi칩n de color */
  transition: filter 0.1s; 
}
/* Al pulsar, a침ado algunos efectos*/
.card:active {
  border-color: gold;  
  box-shadow: 0 0 40px rgba(255, 215, 0, 0.8);
}